body {
  margin: 0px;
}

a {
  text-decoration: none;
}

.nav {
  height: 100px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.nav-icon {
  width: 80px;
  padding-left: 20px;
  padding-top: 10px;
}

.links-wrapper {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}

.nav-link {
  margin-left: 13px;
  margin-right: 13px;
  color: black;
  font-size: 20px;
  padding-top: 38px;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
}

.landing-wrapper {
  width: 100%;
  display: flex;
  max-height: calc(100vh - 100px);
  overflow: hidden;
}

.col {
  width: 50%;
}

.landing-img {
  background-image: url("./../img/team.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  font-family: "Hind";
  text-align: center;
  color: #7E7CF5;
  font-size: 40px;
  margin: 0px;
  margin-top: 20%;
}

.subtitle {
  font-family: "Hind";
  text-align: center;
  font-size: 26px;
  margin: 0px;
}

.box-wrapper {
  display: block;
  margin: 0px;
  margin-top: 50px;
}

.box-container {
  display: block;
  margin: 0px auto;
  margin: 10px;
  width: 240px;
  height: 60px;
  border: 2px solid #EAEAEA;
  border-radius: 17px;
  position: relative;
  cursor: pointer;
  min-width: 150px;
}

.box-img {
  position: absolute;
  left: 10px;
  height: 80%;
  top: 10%;
}

.box-title {
  font-family: "Hind";
  line-height: 100%;
  padding-left: 77px;
  padding-top: 7px;
  font-size: 18px;
}

.center {
  margin: 0px auto;
  display: block;
  margin-bottom: 30px;
  padding-left: 0px;
  text-align: center;
}

.endorser-title {
  text-align: center;
  padding-left: 0px;
}

hr {
  border: 2px solid #E7E7E7;
  margin: 0px;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  font-family: "Hind";
  font-weight: 500;
  padding-top: 20px;
}

.endorsers {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
}